
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


#policy-list {
  margin-top: 2rem;
}

.policy-item {
  font-size:  2rem;
  clear: both;
  display: block;
  position: relative;
  padding: 1rem;
}

.policy-item:nth-child(odd) {
  background-color: lighten(#000, 96%);
}

.policy-prefix {
  display: block;
  font-weight: 700;
  float: left;
  margin-right: 2rem;
  min-width: 5rem;
}

.policy-name {
  display: block;
}

.matches {
  padding: 1rem 0;
}